extends layout

block content
  h1= Artifact Detail

  div
    div.row
      div(class='artifactAttr') Artifact ID:
      div #{toShow._id}
    div.row
      div(class='artifactAttr') Artifact Type:
      div #{toShow.artifact_type}
    div.row
      div(class='artifactAttr') Artifact Origin:
      div #{toShow.origin}
    div.row
      div(class='artifactAttr') Artifact Age:
      div #{toShow.age} years
