extends layout

block content
style.
    /* Custom Styles */
    .container {
      margin-top: 20px;
    }
    .row {
      margin-bottom: 10px;
    }
    .col-md-4 {
      font-weight: bold;
      color: #333;
    }
    .col-md-8 {
      color: #007bff;
    }
    h1 {
      text-align: center;
      color: #343a40;
      margin-bottom: 20px;
    }
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }
    .btn-primary:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }
  h1= title
  - let artifactid = toShow._id
  - let artifact_type = toShow.artifact_type
  - let origin = toShow.origin
  - let age = toShow.age
  div.container
    div.row
      div.col-md-4.font-weight-bold Artifact ID:
      div.col-md-8.text-info #{artifactid}
    div.row
      div.col-md-4.font-weight-bold Artifact Type:
      div.col-md-8.text-info #{artifact_type}
    div.row
      div.col-md-4.font-weight-bold Origin:
      div.col-md-8.text-info #{origin}
    div.row
      div.col-md-4.font-weight-bold Age:
      div.col-md-8.text-info #{age}

  a.btn.btn-primary.mt-4(href='/artifacts') Back to List
