extends layout

block content
  h1= title
  - let artifactid = toShow._id
  - let artifact_type = toShow.artifact_type
  - let origin = toShow.origin
  - let age = toShow.age
  div.container
    div.row
      div.col-md-4.artifact-detail-label Artifact ID:
      div.col-md-8.artifact-detail-value #{artifactid}
    div.row
      div.col-md-4.artifact-detail-label Artifact Type:
      div.col-md-8.artifact-detail-value #{artifact_type}
    div.row
      div.col-md-4.artifact-detail-label Origin:
      div.col-md-8.artifact-detail-value #{origin}
    div.row
      div.col-md-4.artifact-detail-label Age:
      div.col-md-8.tartifact-detail-value #{age}

  a.btn.btn-primary.mt-4(href='/artifacts') Back to List
