doctype html
html
  head
    title #{title}
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    h1 #{title}

    .container
      .row
        each item in results
          .col-md-4
            h2 #{item.artifact_type}
            p Id: #{item._id}
            p Age: #{item.age} years
            p Origin: #{item.origin}
            a(href=`/artifacts/detail?id=${item._id}` class="btn btn-info mt-2") View Details
